.btn-airbnb {
  text-decoration: none;
  background-color: #FC5C63;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: .3s; 
}

.btn-airbnb:hover {
  background-color: #DE535A;
}

.btn-medium {
  border: 1px solid green;
  font-weight: lighter;
  text-decoration: none;
  background-color: transparent;
  color: green;
  padding: 8px 24px;
  border-radius: 4px;
  transition: .3s; 
}

.btn-medium:hover {
  color: blue;
  border: 1px solid blue;
}